<nav>
    <ul class="navMenu">
        <li><a href="./index.html">Random Quote</a></li>
        <li><a href="./dailyquote.html">Quote Of The Day</a></li>
        <li><a href="./authors.html">Authors</a></li>
        <li><a href="./topics.html">Topics</a></li>               
    </ul>
</nav>