<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Random Quote</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navMenu">
                <li><a href="./index.html">Random Quote</a></li>
                <li><a href="./dailyquote.html">Quote Of The Day</a></li>
                <li><a href="./authors.html">Authors</a></li>
                <li><a href="./topics.html">Topics</a></li>
                
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="quoteBlock">
            <h1>The Date For The Quote</h1>
            <h2>This Is THE DAILY Quote page</h2>
        </div>  
        <div class="authorOfQuote">
            - The Author
        </div>
        <div class="tags">
            <ul>
                <li><a href="">Sample Tag 1</a></li>
                <li><a href="">Sample Tag 2</a></li>
                <li><a href="">Sample Tag 3</a></li>
                <li><a href="">Sample Tag 4</a></li>
                <li><a href="">Sample Tag 5</a></li>
            </ul>
        </div>      
    </div>

    <footer><h4>&copy; 2022 Beepbeep International Big Mega Corp</h4></footer>    
</body>
</html>