<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Random Quote</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navMenu">
                <li><a href="./index.html">Random Quote</a></li>
                <li><a href="./dailyquote.html">Quote Of The Day</a></li>
                <li><a href="./authors.html">Authors</a></li>
                <li><a href="./topics.html">Topics</a></li>
                
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="quoteBlock">
            <h2>Success is not final, failure is not fatal: it is the courage to continue that counts.</h2>  
            <div class="authorOfQuote">
                - Winston Churchill
            </div>
            <div class="tags">
                <ul>
                    <li><a href="">Success</a></li>
                    <li><a href="">Failure</a></li>
                    <li><a href="">Motivational</a></li>
                    <li><a href="">History</a></li>
                    <li><a href="">War</a></li>
                </ul>
            </div>
            <!-- <div class="buttonContainer"> 
                <input type="button" value="Random Quote">
            </div>  -->
        </div>
            
    </div>
     

    <footer><h4>&copy; 2022 Beepbeep International Big Mega Corp</h4></footer>    
</body>
</html>